* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  height: 100vh;
  width: 100%;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  max-width: 1280px;
  margin: 0px auto;
}

.header {
  background-color: #011827;
  width: 100%;
  padding: 25px 20px 35px;
  color: white;
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 25px 20px 22px;
  }
}
.header section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header section img {
  width: 128px;
  height: 82px;
}
.header section h1 {
  margin: 0px 190px 0px 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
@media screen and (min-width: 1280px) {
  .header section h1 {
    margin-top: 30px;
    font-size: 40px;
    margin-left: 15px;
  }
}
.header .nav {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .header .nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: -20px;
  }
  .header .nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    margin-right: 115px;
  }
  .header .nav ul li.nav__item--contact a {
    color: #8ACFE5;
    margin-right: 0px;
  }
}

.main img {
  max-width: 100%;
}
.main .hero img {
  width: 100%;
  max-height: 280px;
}
.main .hero .hero__image--wide {
  display: none;
}
@media screen and (min-width: 1280px) {
  .main .hero img {
    max-height: 470px;
  }
  .main .hero .hero__image--narrow {
    display: none;
  }
  .main .hero .hero__image--wide {
    display: block;
  }
}
@media screen and (min-width: 844px) {
  .main .hero img {
    max-height: 470px;
  }
  .main .hero .hero__image--narrow {
    display: none;
  }
  .main .hero .hero__image--wide {
    display: block;
  }
}
.main .hero nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .main .hero nav {
    margin-top: -33px;
  }
}
.main .hero nav button {
  font-weight: 700;
}
@media screen and (min-width: 1280px) {
  .main .hero nav button {
    margin-right: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .main .hero nav {
    flex-direction: row;
    justify-content: center;
  }
}
.main .hero nav .hero__button--online {
  order: 2;
  order: 2;
  font-size: 16px;
  font-weight: 700;
  border: none;
  background: transparent;
  text-decoration: underline;
  color: #36769D;
}
@media screen and (min-width: 1280px) {
  .main .hero nav .hero__button--online {
    order: 1;
    order: 1;
    background-color: #E3170A;
    color: white;
    border: none;
    font-size: 24px;
    font-weight: 700;
    width: 308px;
    height: 66px;
    border-radius: 4px;
    text-decoration: none;
  }
}
.main .hero nav .hero__button--onsite {
  order: 1;
  background-color: #8ACFE5;
  border: none;
  font-size: 24px;
  font-weight: 700;
  width: 308px;
  height: 66px;
  border-radius: 4px;
  margin: 37px 0px 30px;
}
@media screen and (min-width: 1280px) {
  .main .hero nav .hero__button--onsite {
    order: 2;
    margin: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .main .hero article {
    display: flex;
    flex-direction: row;
    margin: 108px auto;
    justify-content: center;
  }
}
@media screen and (min-width: 1180px) {
  .main .hero article {
    display: flex;
    flex-direction: row;
    margin: 108px auto;
    justify-content: center;
  }
}
.main .hero article blockquote {
  width: auto;
  max-width: 522px;
  margin: 0px auto;
  padding: 60px 0px 0px;
  height: auto;
}
@media screen and (min-width: 1280px) {
  .main .hero article blockquote {
    margin: 0px;
    padding: 0px;
  }
}
@media screen and (min-width: 1180px) {
  .main .hero article blockquote {
    margin: 0px;
    padding: 0px;
  }
}
.main .hero article blockquote figure {
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .main .hero article blockquote figure {
    padding: 0px;
  }
}
@media screen and (min-width: 1180px) {
  .main .hero article blockquote figure {
    padding: 0px;
  }
}
.main .hero article blockquote figure img {
  width: 72px;
  height: 73px;
}
.main .hero article blockquote figure figcaption {
  padding-left: 21px;
}
.main .hero article blockquote figure figcaption h2 {
  font-weight: 400;
  font-size: 24px;
  font-style: italic;
}
.main .hero article blockquote figure figcaption p {
  padding-top: 5px;
  font-size: 18px;
}
@media screen and (min-width: 1280px) {
  .main .hero article blockquote figure figcaption p {
    padding-top: 10px;
    padding-right: 150px;
  }
}
@media screen and (min-width: 1180px) {
  .main .hero article blockquote figure figcaption p {
    padding-top: 10px;
    padding-right: 150px;
  }
}
.main .hero article blockquote .hero__quotes--right-container {
  display: none;
}
@media screen and (min-width: 1280px) {
  .main .hero article blockquote .hero__quotes--right-container {
    display: flex;
  }
}
@media screen and (min-width: 1180px) {
  .main .hero article blockquote .hero__quotes--right-container {
    display: flex;
  }
}
.main .challenges .challenges__header {
  display: flex;
  justify-content: center;
}
.main .challenges .challenges__header h2 {
  font-size: 32px;
}
.main .challenges .challenges__cards {
  display: flex;
  flex-direction: row;
  padding: 44px 10px 47px 52px;
  overflow-x: scroll;
}
@media screen and (min-width: 1280px) {
  .main .challenges .challenges__cards {
    padding-top: 65px;
  }
}
.main .challenges .challenges__cards article {
  min-width: 363px;
  min-height: 446px;
  width: 363px;
  height: 446px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2509803922);
  margin-right: 37px;
  border-radius: 8px;
}
@media screen and (min-width: 1280px) {
  .main .challenges .challenges__cards article {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
}
.main .challenges .challenges__cards article section {
  padding-top: 9px;
  padding-left: 18px;
}
.main .challenges .challenges__cards article section figure {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main .challenges .challenges__cards article section h2 {
  font-size: 28px;
}
.main .challenges .challenges__cards article section .challenges__rating {
  margin: 2px 0px 20px;
}
.main .challenges .challenges__cards article section .challenges__rating img {
  max-height: 15px;
  margin-right: 3px;
  margin-left: 3px;
}
.main .challenges .challenges__cards article section .challenges__rating span {
  margin-left: 10px;
  font-size: 14px;
}
@media screen and (min-width: 1280px) {
  .main .challenges .challenges__cards article section .challenges__rating span {
    margin-left: 130px;
  }
}
.main .challenges .challenges__cards article section .challenges__info {
  font-size: 18px;
}
.main .challenges .challenges__cards article section button {
  background-color: #E3170A;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  color: white;
  height: 44px;
  width: 180px;
  margin-left: 148px;
  margin-top: 20px;
}
.main .challenges nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .main .challenges nav {
    flex-direction: row;
  }
}
.main .challenges nav .challenges__main--buttons-onsite {
  background-color: #8ACFE5;
  border: none;
  font-size: 24px;
  font-weight: 700;
  width: 308px;
  height: 66px;
  border-radius: 4px;
  margin: 37px 0px 30px;
  margin: 0px 0px 0px 15px;
  order: 1;
}
@media screen and (min-width: 1280px) {
  .main .challenges nav .challenges__main--buttons-onsite {
    margin-top: 40px;
    margin-bottom: 37px;
  }
}
.main .challenges nav .challenges__main--buttons-online {
  order: 2;
  margin-top: 30px;
  order: 2;
  font-size: 16px;
  font-weight: 700;
  border: none;
  background: transparent;
  text-decoration: underline;
  color: #36769D;
}
@media screen and (min-width: 1280px) {
  .main .challenges nav .challenges__main--buttons-online {
    order: 1;
    background-color: #E3170A;
    color: white;
    border: none;
    font-size: 24px;
    font-weight: 700;
    width: 308px;
    height: 66px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 37px;
  }
}
.main .story {
  margin-top: 50px;
}
.main .story header {
  padding: 90px 0px 90px;
  background-color: #011827;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .story header h2 {
  font-size: 28px;
  text-align: center;
  max-width: 632px;
}
.main .story header button {
  background-color: #8ACFE5;
  border: none;
  font-size: 24px;
  font-weight: 700;
  width: 308px;
  height: 66px;
  border-radius: 4px;
  margin: 37px 0px 30px;
  background-color: transparent;
  color: #8ACFE5;
  border: 2px solid #8ACFE5;
}
@media screen and (min-width: 1280px) {
  .main .story header button {
    margin: 30px 0px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .main .play .play__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 460px;
  }
  .main .play .play__top .top__header {
    padding-bottom: 20px;
  }
  .main .play .play__top img {
    grid-row: 1;
    grid-column: 1;
  }
  .main .play .play__top .top__text {
    grid-row: 1;
    grid-column: 2;
    margin: 0px auto;
    padding: 60px 115px 66px;
  }
  .main .play .play__top .top__about p {
    padding-bottom: 25px;
  }
  .main .play .play__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 460px;
  }
}
@media screen and (min-width: 1280px) and (min-width: 1280px) {
  .main .play .play__bottom {
    margin-bottom: 180px;
  }
}
@media screen and (min-width: 1280px) {
  .main .play .play__bottom img {
    grid-row: 1;
    grid-column: 2;
  }
  .main .play .play__bottom .bottom__header {
    padding-bottom: 20px;
  }
  .main .play .play__bottom .bottom__text {
    grid-row: 1;
    grid-column: 1;
    margin: 0px auto;
    padding: 60px 115px 66px;
  }
  .main .play .play__bottom .bottom__about p {
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 844px) {
  .main .play .play__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 460px;
  }
  .main .play .play__top .top__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px 0px;
  }
  .main .play .play__top .top__text h2 {
    margin: 0px 30px 20px 10px;
  }
  .main .play .play__top .top__text .top__about {
    padding: 0px 30px 20px 10px;
  }
  .main .play .play__top img {
    min-height: 460px;
    object-fit: cover;
  }
}
.main .play .play__top figure {
  width: 100%;
  height: auto;
}
.main .play .play__top figure img {
  width: 100%;
}
.main .play .play__top .top__image--img--wide {
  display: none;
}
@media screen and (min-width: 1280px) {
  .main .play .play__top .top__image--img--wide {
    display: flex;
  }
}
@media screen and (min-width: 844px) {
  .main .play .play__top .top__image--img--wide {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .main .play .play__top .top__image--img {
    display: none;
  }
}
@media screen and (min-width: 844px) {
  .main .play .play__top .top__image--img {
    display: none;
  }
}
.main .play .play__top article {
  padding: 30px 20px 64px;
}
.main .play .play__top article h2 {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 30px;
}
.main .play .play__top article p {
  font-size: 24px;
  padding-bottom: 50px;
}
.main .play .play__top article button {
  order: 1;
  background-color: #E3170A;
  color: white;
  border: none;
  font-size: 24px;
  font-weight: 700;
  width: 308px;
  height: 66px;
  border-radius: 4px;
  text-decoration: none;
}
.main .play .play__bottom figure {
  width: 100%;
  height: auto;
}
.main .play .play__bottom figure img {
  width: 100%;
}
.main .play .play__bottom .bottom__image--img--wide {
  display: none;
}
@media screen and (min-width: 1280px) {
  .main .play .play__bottom .bottom__image--img--wide {
    display: flex;
  }
}
@media screen and (min-width: 844px) {
  .main .play .play__bottom .bottom__image--img--wide {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .main .play .play__bottom .bottom__image--img {
    display: none;
  }
}
@media screen and (min-width: 844px) {
  .main .play .play__bottom .bottom__image--img {
    display: none;
  }
}
.main .play .play__bottom article {
  padding: 30px 20px 64px;
}
.main .play .play__bottom article h2 {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 30px;
}
.main .play .play__bottom article p {
  font-size: 24px;
  padding-bottom: 50px;
}
.main .play .play__bottom article button {
  order: 1;
  background-color: #E3170A;
  color: white;
  border: none;
  font-size: 24px;
  font-weight: 700;
  width: 308px;
  height: 66px;
  border-radius: 4px;
  text-decoration: none;
}
.main .play .play__bottom article {
  margin-bottom: 30px;
}
@media screen and (min-width: 844px) {
  .main .play .play__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 460px;
  }
  .main .play .play__bottom .bottom__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px 0px;
  }
  .main .play .play__bottom .bottom__text h2 {
    margin: 0px 0px 20px 10px;
  }
  .main .play .play__bottom .bottom__text .bottom__about {
    padding: 0px 30px 20px 10px;
  }
  .main .play .play__bottom img {
    min-height: 460px;
    object-fit: cover;
    grid-row: 1;
    grid-column: 2;
  }
  .main .play .play__bottom .bottom__text {
    grid-row: 1;
    grid-column: 1;
    margin-bottom: 0px;
  }
}
.main footer {
  background-color: #011827;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 80px 21px;
}
@media screen and (min-width: 1280px) {
  .main footer {
    flex-direction: row;
    padding: 80px 21px 100px;
  }
}
.main footer h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 7px;
}
@media screen and (min-width: 1280px) {
  .main footer article {
    max-width: 416px;
    margin: 64px 230px 40px 100px;
  }
}
.main footer nav {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .main footer nav {
    margin: 64px 50px 40px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 1fr 1fr;
  }
  .main footer nav h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 7px;
  }
}
@media screen and (min-width: 1280px) {
  .main footer nav .footer__nav--play {
    grid-row: 2;
    grid-column: 1;
    padding-top: 15px;
  }
  .main footer nav .footer__nav--socialmedia {
    grid-row: 1;
    grid-column: 2;
  }
}
.main footer nav section {
  display: flex;
  flex-direction: column;
  margin-top: 47px;
}
@media screen and (min-width: 1280px) {
  .main footer nav section {
    margin-top: 0px;
  }
}

/*# sourceMappingURL=main.css.map */
