* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: rgb(128, 128, 128);
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    width: 100%;
    min-width: 100%;
}

.header {
    background-color: #011827;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.header__content {
    padding: 0px;
    margin: 26px 0px 36px 27px;
    display: flex;
    flex-direction: row;
}

.header__logo--img {
    width: 128px;
    height: 82px;
    margin-right: 13px;
}

.header__heading {
    display: flex;
    max-width: 78px;
    max-height: 84px;
}

.header__heading--text {
    display: flex;
    align-items: center;
    font-size: 2rem;
    line-height: 25px;
}

.header a {
    display: hidden;
    color: #FFFFFF;
    text-decoration: none;
}

.main {}

.hero {}

.hero img {
    width: 100%;
    height: 274px;
}

.hero__buttons {
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__button--onsite {
    background-color: #8ACFE5;
    width: 308px;
    height: 66px;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 700;
    order: 1;
}

.hero__button--online {
    margin-top: 37px;
    order: 2;
    width: 129px;
    height: 19.97px;
    top: 551px;
    left: 175px;
    gap: 0px;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: #36769D;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: center;

}

.hero__quotes--left-container {
    display: flex;
    max-width: 439px;
    max-height: 139px;
    margin-top: 66px;
    margin-left: 21px;
    gap: 0px;
}

.hero__quotes--left-container--img {}

.hero__quotes--left-container--img img {
    width: 73.34px;
    height: 72px;
    top: 641px;
    left: 21px;
    gap: 0px;
    margin-right: 23.74px;
}

.hero__quotes--left-container--text {}

.hero__quotes--left-container--text h2 {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
}

.hero__quotes--left-container--text p {
    margin-top: 5px;
    font-size: 18px;
}

.challenges {
    margin-top: 105px;
    width: 100%;
}

.challenges__image {
    width: 363px;
    height: 219px;
}

.challenges__header {
    gap: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.challenges__header h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 37.5px;
}

.challenges__cards {
    margin-top: 44px;
    margin-left: 42.07px;
    display: flex;
    height: 466px;
    padding-left: 10px;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
}

.challenges__cards article {
    display: flex;
    flex-direction: column;
    height: 446px;
    margin-right: 37.93px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 0px #00000040;
    border-radius: 8px 8px 8px 8px;
    width: 363px;
    height: 446px;
}

.challenges__cards h2 {
    font-size: 28px;
    font-weight: 400;
    width: 308px;
    height: 33px;
    margin-top: 12px;
    margin-left: 17px;
}

.challenges__rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 21px;
    margin-top: 2px;
}

.challenges__rating--star {
    display: flex;
    justify-content: space-evenly;
}

.challenges__rating--star--filled,
.challenges__rating--star--hollow {
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    margin-right: 9.25px;
}

.challenges__ratings-text {
    font-size: 14px;
    margin-left: 5px;
    margin-top: 2px;
}


.challenges__ratings-text span{
    
}

.challenges__info {
    display: flex;
    width: 328px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 23px;
}

.challenges__info span{
    font-size: 18px;
    line-height: 21.09px;
}

.challenges__button{
    margin-left: 165.93px;
    margin-bottom: 12px;
}


.challenges__button button{
    background-color: #E3170A;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 700;
    width: 179.28px;
    height: 44px;
    /* Double check border-radius, says 8px but that seems too much */
    border-radius: 5px; 
}



@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }

    .hero__quotes--right {
        display: none;
    }

}